@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@import "tailwindcss";

@theme {
  --font-family-manrope: "Manrope", sans-serif;
  --animate-upDown:upDown 0.8s infinite ease-in-out alternate; 
}

@keyframes upDown {
  from{
    transform: translateY(-5px);
  }
  to{
    transform: translateY(5px);
    
  }
  
}

